* {
  margin: 0;
  padding: 0;
}

#canvas1 {
  background: black;
  position: absolute;
}

#image1 {
  display: none;
}

.controls {
  position: absolute;
  z-index: 100;
  left: 10px;
  bottom: 10px;
}


